week1_nlp_libraries/stanford-corenlp-latest.zip
week1_nlp_libraries/stanford-corenlp-4.2.0/
week2_sentiment_analysis/data/aclImdb/
week2_sentiment_analysis/model_artifacts/
week2_sentiment_analysis/data/Reviews.csv

week2_sentiment_analysis/config_twitter.py

week2_sentiment_analysis/__pycache__/

week2_sentiment_analysis/data/r_data/

week3_pytorch/data/cifar-10-batches-py/
week3_pytorch/data/cifar-10-python.tar.gz

week3_pytorch/.data/
